* {
  --dark-dots: var(--aptly-named-periwinkle);
  --circle-small: 12px;
  --circle-big: 88px;
  --square-small: 30px;
  --square-big: 70px;
  --smallSmall: var(--square-small);
  --bigBig: var(--square-big);
}

.circle {
  position: absolute;
  width: 15px;
  height: 15px;
  opacity: 0;
  transform: rotate(45deg);
  animation: load-spin var(--duration) ease-in-out infinite, color-changer calc(var(--duration) * 5) infinite;

}

#circ-1 {
  top: 50px;
}

#circ-2 {
  top: var(--smallSmall);
  left: var(--smallSmall);
  animation-delay: calc(var(--duration) / 8);
}

#circ-3 {
  top: 0;
  left: 50px;
  animation-delay: calc(var(--duration) * 2 / 8);
}

#circ-4 {
  top: var(--smallSmall);
  left: var(--bigBig);
  animation-delay: calc(var(--duration) * 3 / 8);
}

#circ-5 {
  top: 50px;
  left: 100px;
  animation-delay: calc(var(--duration) * 4 / 8);
}

#circ-6 {
  top: var(--bigBig);
  left: var(--bigBig);
  animation-delay: calc(var(--duration) * 5 / 8);
}

#circ-7 {
  top: 100px;
  left: 50px;
  animation-delay: calc(var(--duration) * 6 / 8);
}

#circ-8 {
  top: var(--bigBig);
  left: var(--smallSmall);
  animation-delay: calc(var(--duration) * 7 / 8);
}

#dot-box {
  position: relative;
  width: 125px;
  height: 125px;
}

@keyframes load-spin {
  0% {
    opacity: 1;
  }
  12.5% {
    opacity: 0.875;
  }
  25% {
    opacity: 0.75;
  }
  37.5% {
    opacity: 0.625;
  }
  50% {
    opacity: .5;
  }
  62.5% {
    opacity: .375;
  }
  75% {
    opacity: 0.25;
  }
  87.5% {
    opacity: 0.125;
  }
  100% {
    opacity: 0;
  }
}
@keyframes color-changer {
  0%{
    background-color: var(--light-green);
  }
  25%{
    background-color: var(--another-teal);
  }
  50%{
    background-color: var(--icon-purple);
  }
  75%{
    background-color: var(--another-teal);
  }
  100%{
    background-color: var(--light-green);
  }
}

#load-title {
  font-variant: small-caps;
  width: 100%;
  height: 30px;
  text-align: center;
  color: #e1506f;
}

#title-box {
  width: 75px;
  height: 30px;
  position: absolute;
  left: 25px;
  top: 53px;
}
