<div id="form-container" aria-label="Form Container">

</div>
<div id="not-opaque" aria-label="Not Opaque Section">
  <div id="centering-form-register">
    <app-registration-form aria-label="Registration Form"/>
  </div>
</div>
<div id="top-banner" style="position: absolute; top: 0; left: 0" aria-label="Top Banner for visual styling only"></div>
<div id="circuit-right-bottom" aria-label="Circuit Right Bottom">
  <app-circuit-animation/>
</div>
<div id="left-banner" style="position: absolute; top: 0; left: 0" aria-label="Left Banner for visual styling only"></div>

<div id="header">
  <div id="info-button-registration" class="hoverers" (click)="setTimeout(showToast, 100)" aria-label="Show information about GitHub Username">
    <!--Make toasts stacking, reinstate for loop-->
    <!--{if(format===link) && {link block}}-->
    <app-info-button/>
  </div>
</div>
<div class="toast-container">
  <app-toast-notification [toast]="this.newToast"/>

</div>
