/*HEADER*/
#info-button-assignment {
  position: absolute;
  top: 20px;
  left: calc(50vw - 25px);
  z-index: 5;
}

#back-button-assignment {
  position: absolute;
  top: 20px;
  right: calc(50vw + 65px);
  z-index: 5;
}

/*BODY*/
#loading-boxer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#assignments-table {
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 7;
  width: calc(100vw - 40px);
  height: calc(100vh - 220px);
  padding: 40px 0 0;
  overflow-y: scroll;
  mask-image: linear-gradient(to bottom, black calc(100% - 48px), transparent 100%);
}

#ass-table {
  margin: auto auto;
  width: calc(100vw - 40px);
  height: calc(100vh - 360px);
  overflow-x: hidden;
}

.ass-blocker, .ass-blocker-opaque {
  width: calc((100vw - 120px) / 4);
  height: calc((100vh - 540px - 40px) / 2);
  min-height: 125px;
  border: 5px solid var(--indigogo);
  border-radius: 20px !important;
  margin: auto auto;
  font-variant: small-caps;
  font-size: min(3vw, 3rem);
  font-family: 'vonique', var(--bs-font-monospace), serif;
  padding: 20px;
  align-content: center;
  overflow-x: scroll;
  overflow-y: hidden;
  text-wrap: nowrap;
  cursor: pointer;
}

.ass-blocker-opaque {
  opacity: 0;
}

.a1, .a12 {
  border-color: var(--custom-teal);
}

.a1:hover, .a12:hover {
  filter: drop-shadow(0 0 1rem var(--custom-teal));
  border-width: 10px;
  border-style: solid;
  transform-origin: center;
  transform: scale(102%);
}

.a2, .a11 {
  border-color: var(--custom-darker-teal); /*  --custom-darker-teal: #0095c8;*/
}

.a2:hover, .a11:hover {
  filter: drop-shadow(0 0 1rem var(--custom-darker-teal));
  border-width: 10px;
  border-style: solid;
  transform: scale(102%);
}

.a3, .a10 {
  border-color: var(--custom-darker-teal);
}

.a3:hover, .a10:hover {
  filter: drop-shadow(0 0 1rem var(--custom-blue));
  border: 10px solid var(--custom-blue);
  transform: scale(102%);
}

.a4, .a9 {
  border-color: var(--custom-teal-2);
}

.a4:hover, .a9:hover {
  filter: drop-shadow(0 0 1rem var(--custom-teal-2));
  border: 10px solid var(--custom-teal-2);
  transform: scale(102%);
}

.a5, .a8 {
  border-color: var(--custom-blue-2);
}

.a5:hover, .a8:hover {
  filter: drop-shadow(0 0 1rem var(--custom-blue-2));
  border: 10px solid var(--custom-blue-2);
  transform: scale(102%);
}

.a6, .a7 {
  border-color: var(--aptly-named-periwinkle);
}

.a6:hover, .a7:hover {
  filter: drop-shadow(0 0 1rem var(--aptly-named-periwinkle));
  border: 10px solid var(--aptly-named-periwinkle);
  transform: scale(102%);
}

td {
  text-align: center;
}



